@use '../variables';

@mixin title($font-size: 40px) {
    font-size: $font-size;
    line-height: $font-size + 12px;
}
@mixin text($font-size: 16px) {
    font-size: $font-size;
    line-height: $font-size + 12px;
}


.title--big {
    @include title(60px);
    font-family: Rubik, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    
}

.title {
    @include title(50px);
    font-family: Rubik, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;

    &--dark {
        color: rgb(40, 40, 40)
    }
}

.title--small {
    @include title(40px);
    font-family: Rubik, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}
.title--verysmall {
    @include title(20px);
    font-family: Rubik, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.text--big {
    @include text(18px);
    font-family: roboto, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(222, 222, 222);
}

.text {
    @include text;
    font-family: roboto, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(222, 222, 222);

    &--dark {
        color: rgb(40, 40, 40)
    }

    &--orange {
        color: variables.$colorOrange;
    }


}

.text--small {
    @include text(12px);
    font-family: roboto, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(222, 222, 222);
}

.text--link {
    @include text(12px);
    text-decoration: underline;
    font-family: roboto, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(222, 222, 222);
}


